*{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}   

body{
    background: linear-gradient(to right, rgb(173, 240, 210), rgb(250, 138, 250));
}

.container
{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

figure
{
    margin: auto;
    display: block;
    max-width: 100;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    text-align: center;

}
div{
    justify-content: space-between;
    display: flex;
}
