.btn1 {
    display: inline-block;
    height: 40px;
    width: 190px;
    line-height: 40px;  
    text-align: center;  
    outline: none;
    border: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.btn1:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.center-container {
    text-align: center;
    padding: 50px;
  }